pkgbase = omarchy-t2
	pkgdesc = Omarchy hardware support, React DRM Touch Bar setup, tuning, and optional Vulkan TTS for Intel T2 MacBook Pros
	pkgver = 0.4.0
	pkgrel = 5
	url = https://github.com/marashiai/omarchy-t2
	install = omarchy-t2.install
	arch = x86_64
	license = MIT
	makedepends = patch
	depends = apple-bcm-firmware
	depends = apple-t2-audio-config
	depends = bash
	depends = bluez
	depends = calf
	depends = coreutils
	depends = curl
	depends = findutils
	depends = gawk
	depends = glib2
	depends = git
	depends = grep
	depends = iw
	depends = libpulse
	depends = libnotify
	depends = linux-t2
	depends = lsp-plugins-lv2
	depends = omarchy>=4.0.0
	depends = pipewire
	depends = pipewire-audio
	depends = pipewire-pulse
	depends = python
	depends = python-dbus
	depends = python-gobject
	depends = power-profiles-daemon
	depends = sudo
	depends = swh-plugins
	depends = systemd
	depends = t2fanrd
	depends = util-linux
	depends = wireplumber
	optdepends = mpv: optional ElevenLabs text-to-speech playback
	optdepends = wtype: optional speech-to-text typing
	optdepends = ostt-bin: optional ElevenLabs speech-to-text transcription
	optdepends = ffmpeg: optional text-to-speech playback
	optdepends = libnotify: optional text-to-speech notifications
	optdepends = vulkan-radeon: optional text-to-speech on Radeon
	optdepends = wl-clipboard: optional text-to-speech selection reading
	backup = etc/omarchy-t2.conf
	source = omarchy-t2::git+https://github.com/marashiai/omarchy-t2.git#commit=0ada4cc33889f39c52dde090409b940ce3b9b45d
	source = optional-qwen.patch
	source = t2-apple-audio-dsp-8d3edcbfcf17649279927fb12130b8575e912d2e.tar.gz::https://github.com/lemmyg/t2-apple-audio-dsp/archive/8d3edcbfcf17649279927fb12130b8575e912d2e.tar.gz
	sha256sums = SKIP
	sha256sums = 7702a0e9d1932855fef8e9762f540503ff1f9bfebed82e4bdc0a5fa07d8ac023
	sha256sums = 24370f3c1a9bbebb18568a9247f992b6c630356e6b62178568aed25d9efd792c

pkgname = omarchy-t2
